@keyframes textChange {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    50% {
      opacity: 0.5;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .animate-text {
    animation: textChange 2s ease-out forwards;
  }
  
  .fade-text {
    animation: textChange 7s ease-in forwards;
  }
  